<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.attendance.dao.EmployeeInfoMapper">
    <resultMap id="BaseResultMap" type="com.xx.attendance.entity.EmployeeInfo">
        <id column="employee_id" jdbcType="BIGINT" property="employeeId"/>
        <result column="employee_sn" jdbcType="VARCHAR" property="employeeSn"/>
        <result column="employee_name" jdbcType="VARCHAR" property="employeeName"/>
        <result column="age" jdbcType="INTEGER" property="age"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="enter_date" jdbcType="DATE" property="enterDate"/>
        <result column="position" jdbcType="INTEGER" property="position"/>
        <result column="employee_type" jdbcType="INTEGER" property="employeeType"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="tel" jdbcType="VARCHAR" property="tel"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
    employee_id, employee_sn, employee_name, age, sex, enter_date, `position`, employee_type,
    `password`, tel, `state`, create_time, update_time
    </sql>

    <sql id="Page_Query">
        <if test="page != null and pageSize != null">
            limit #{offset}, #{pageSize}
        </if>
    </sql>

    <sql id="Query_Param">
        <if test="keyword != null and keyword != ''">
            and (
            employee_sn like concat('',#{keyword},'')
            or employee_name like concat('',#{keyword},'')
            or tel like concat('',#{keyword},'')
            )
        </if>
        <if test="state != null">
            and state = #{state}
        </if>
        <if test="position != null">
            and 'position' = #{position}
        </if>
        <if test="enterDateStart != null and enterDateEnd != null">
            and (
            enter_date <![CDATA[>=]]> #{enterDateStart}
            and enter_date <![CDATA[<=]]> #{enterDateEnd}
            )
        </if>
    </sql>

    <select id="getEmployeeBySn" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from employee_info
        where employee_sn = #{employeeSn}
    </select>

    <select id="getNewEmployeeSn" resultType="java.lang.Long">
        select employee_id from employee_info order by employee_id desc limit 1
    </select>

    <select id="queryEmployeeListByParamCount" resultType="java.lang.Integer">
        select COUNT(1)
        from employee_info
        <where>
            <include refid="Query_Param"></include>
        </where>
    </select>

    <select id="queryEmployeeListByParam" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from employee_info
        <where>
            <include refid="Query_Param"></include>
        </where>
        order by create_time desc
        <include refid="Page_Query"></include>
    </select>

</mapper>